// color
// .t-dark-red
//   color: #e81717
+text-emphasis-variant('.t-dark-red', #e81717, true)
// font-size
.fs-64
  font-size: fz-rwd(44, 64, 576, 1520)
.fz-40
  font-size: fz-rwd(30, 40, 576, 1520)
.fz-32
  font-size: fz-rwd(26, 32, 576, 1520)
.fz-24
  font-size: fz-rwd(18, 24, 576, 1520)
.fz-20
  font-size: fz-rwd(16, 20, 576, 1520)
.fz-16
  font-size: 1rem
.fz-14
  font-size: 0.875rem
// +text-emphasis-variant('.t-gray-c', #ccc, true)
+text-emphasis-variant('.line-join-text', #06c755, true)

.bg-gray-3
  background-color: #000
.bg-gray-6
  background-color: #666
.lg-price
  background-image: linear-gradient(189deg, transparent 372px, lighten($primary, 10%) 373px), linear-gradient(351deg, $white 549px, lighten($tertiary, 15%)  550px)
  background-position: center left
  background-size: 390px 810px


.bg-pattern
  background-image: radial-gradient(circle at 100%, #141414 40%, transparent 45%, $black 55%)


// radial-gradient(circle at left, $black, $black 50%, transparent 51%, $black 51%, $black 90%, transparent 93%, $black 93%),

$lg-pos: 550px
$lg-h: 150px
.lg-pink-gold
  $metal: #ffdeca
  $metal2: #de7345
  // linear-gradient(189deg, transparent 372px, lighten($primary, 10%) 373px),
  background-image: linear-gradient(190deg, transparent 219px, lighten($primary, 10%) 200px), linear-gradient(170deg, #eaeaea, $metal 0.1 * $lg-h, #eaeaea 0.16 * $lg-h, $metal 0.21 * $lg-h, #eaeaea 0.24 * $lg-h, $metal2 0.27 * $lg-h, $metal 0.36 * $lg-h, #eaeaea 0.45 * $lg-h, #eaeaea 0.6 * $lg-h, $metal 0.72 * $lg-h, #eaeaea 0.8 * $lg-h, $metal 0.84 * $lg-h, $white $lg-h)
  .price-title
    color: rgba(#380d00, .64)
    text-shadow: 1px 1px 0 $white

.lg-white-gold
  $metal: #ffdea1
  $metal2: #736445
  background-image: linear-gradient(190deg, transparent 219px, lighten($primary, 10%) 200px), linear-gradient(170deg, #eaeaea, $metal 0.1 * $lg-h, #eaeaea 0.16 * $lg-h, $metal 0.21 * $lg-h, #eaeaea 0.24 * $lg-h, $metal2 0.27 * $lg-h, $metal 0.36 * $lg-h, #eaeaea 0.45 * $lg-h, #eaeaea 0.6 * $lg-h, $metal 0.72 * $lg-h, #eaeaea 0.8 * $lg-h, $metal 0.84 * $lg-h, $white $lg-h)
  .price-title
    color: rgba(#525222, .72)
    text-shadow: 1px 1px 0 #ffdeca

.lg-yellow-gold
  $metal: #ffc373
  $metal2: #a17434
  background-image: linear-gradient(190deg, transparent 219px, lighten($primary, 10%) 200px), linear-gradient(170deg, #eaeaea, $metal 0.1 * $lg-h, #eaeaea 0.16 * $lg-h, $metal 0.21 * $lg-h, #eaeaea 0.24 * $lg-h, $metal2 0.27 * $lg-h, $metal 0.36 * $lg-h, #eaeaea 0.45 * $lg-h, #eaeaea 0.6 * $lg-h, $metal 0.72 * $lg-h, #eaeaea 0.8 * $lg-h, $metal 0.84 * $lg-h, $white $lg-h)
  .price-title
    color: rgba(#492d15, .72)
    text-shadow: 1px 1px 0 $white

.lg-gold
  $metal: #ffde45
  $metal2: #452100
  background-image: linear-gradient(190deg, transparent 219px, lighten($primary, 10%) 200px), linear-gradient(170deg, #eaeaea, $metal 0.1 * $lg-h, #eaeaea 0.16 * $lg-h, $metal 0.21 * $lg-h, #eaeaea 0.24 * $lg-h, $metal2 0.27 * $lg-h, $metal 0.36 * $lg-h, #eaeaea 0.45 * $lg-h, #eaeaea 0.6 * $lg-h, $metal 0.72 * $lg-h, #eaeaea 0.8 * $lg-h, $metal 0.84 * $lg-h, $white $lg-h)
  .price-title
    color: rgba($black, .72)
    text-shadow: 1px 1px 0 $white

+media-breakpoint-up(m)
  .grid-text
    padding: 0.5rem 1rem
    background-color: rgba($primary, .5)
+media-breakpoint-up(l)
