.banner
  padding: 5rem 0
  background-image: linear-gradient(to bottom, rgba($body-bg, .6) 50%, $body-bg 95%), var(--bg-url)
  background-repeat: no-repeat
  background-position: center, center



.bg-back-filter
  height: 10rem
  padding: 1.5rem
  backdrop-filter: blur(3px)brightness(.3)
.two-col-bg
  background-image: linear-gradient($black, transparent 10%, transparent 90%, $black)
  backdrop-filter: blur(3px)

.bg-attachment
  background-attachment: fixed
.bg-filter
  backdrop-filter: blur(5px)brightness(.2)

+media-breakpoint-up(s)
  .two-col-bg
    backdrop-filter: blur(0)
  .lg-tertiary
    background-image: linear-gradient(to left, $tertiary 50%, transparent)
  .lg-primary
    background-image: linear-gradient(to right, $primary 50%, transparent)

+media-breakpoint-up(l)
  .banner
    padding: 10rem 0
    background-image: linear-gradient(115deg, $body-bg 50%, transparent 80%), var(--bg-url)
    background-position: center, right
  .bg-back-filter
    height: 20rem
    padding: 4rem 1.5rem