.quoat-comma
  quotes: '“''”'
  font-size: 3em
  &::before,
  &::after
    display: block
    height: .5em
    font-family: Georgia
    line-height: 1

  &::before
    content: open-quote
    // margin-right: .5em
    // float: left

  &::after
    content: close-quote
    text-align: right
    // margin-left: .5em
    // float: right
