block footer
footer
  address.container
    ul.list-inline.gy-3
      li.list-inline-item
        strong 地址
        a(href='' title='google maps' target='_blank' rel='noreferrer noopener nofollow')
      li.list-inline-item
        strong 電話
        a(href='tel:' title='')=headerH1

//- nav.fixed-right
  ul.nav.col.a-center
    li.nav-item
      a.nav-link(href='' title='')
        img.img-cover(src=require('./img/tool.png') width='' height='' alt='' title='' loading='eager' )
