block footer
footer.py-3
  address.container
    ul.list-unstyled.gy-3
      li
        //- strong 地址
        a(href='' title='google maps' target='_blank' rel='noreferrer noopener nofollow') 臺北市和平西路一段15之1號3樓
      li
        //- strong 電話
        a(href='mailto:master.builder.tw@gmail.com' title='') master.builder.tw@gmail.com
      //- li
        strong 電話
        a(href='tel:' title='')=headerH1

//- nav.fixed-right
  ul.nav.col.a-center
    li.nav-item
      a.nav-link(href='' title='')
        img.img-cover(src=require('./img/tool.png') width='' height='' alt='' title='' loading='eager' )
