block global
-
  const context = {
    zh: {
      introduction1: '關於我們',
      content1: '創業家顧問（Master Builder Consulting），藉由表演藝術的五感模擬，與系統排列的序位平衡，為臺灣160萬中小企業，提供數位轉型、世代共榮、跨域創新等組織發展的諮詢服務。',
      team2: '團隊陣容',
      content2: '每位成員具備產業顧問、高階教練、排列師三合一的專業。並擁有國際組排論壇（INFOSYON）與亞洲組排協會（JAASCOB）的雙認證。',
      publication3: '出版資源',
      content3: '《表演藝術引導教練與企業組織系統排列》，作者范聖韜。為全球首部從表演藝術的角度，探討企業組織系統排列的專書。',
      detail3: '（敬請加入我們的LINE官方帳號，即可免費獲得試閱版）',
      alliance4: '策略聯盟',
      content4: ['國際組排論壇（INFOSYON）', '亞洲組排協會（JAASCOB）', '五南圖書出版股份有限公司', '原鼎管理顧問有限公司', '嵩諺國際企業有限公司'],
      strength5: '系統排列',
      content5: '企業組織系統排列是一種管理顧問方法，可以快速、有效、深入地找出經營議題的根源，以及提出致勝策略。企業組織系統排列源於德國，風行歐洲超過20年，BMW、Siemens、Microsoft等全球知名企業都在使用。2018年由亞洲組排協會（JAASCOB）引進臺灣，2023年起創業家顧問股份有限公司，進行商業應用，為中小企業主、創業家、領導人提供數位轉型、世代共榮、跨域創新的諮詢服務；為中高階主管提供領導與組織發展的諮詢服務。',
      benefit6: '數位轉型',
      content6: '研擬留才方案。規劃長期策略。回應顧客痛點。',
      benefit7: '世代共榮',
      content7: '家族企業。股權分配。國際拓展。',
      benefit8: '跨域創新',
      content8: '跨業合作。綠色永續。生態系統。',
      benefit9: '領導與組織發展',
      content9: '平衡工作家庭。協調部門衝突。凝聚公司向心。',
      plan: '諮詢方案',
      leader11: '中高階主管',
      perHour: '/Hr',
      price11: 'NT$7,000',
      content11: ['1次2小時', '共NTD14,000', '包含0.3小時的訪談','1.5小時的排列','0.2小時的診斷','半年期間', '預付3次', '享有95折優惠'],
      boss12: '企業主',
      size12: '公司規模7人以下',
      price12: 'NT$10,000',
      content12: ['1次2小時', '共NTD20,000', '包含0.3小時的訪談', '1.5小時的排列','0.2小時的診斷', '半年期間', '預付3次', '享有95折優惠'],
      boss13: '企業主',
      size13: '公司規模8人以上到30人以下',
      price13: 'NT$15,000',
      content13: ['1次2小時', '共NTD30,000', '包含0.3小時的訪談', '1.5小時的排列', '0.2小時的診斷', '半年期間', '預付3次', '享有95折優惠'],
      boss14: '企業主',
      size14: '公司規模31人以上到200人以下',
      price14: 'NT$20,000',
      content14: ['1次2小時', '共NTD40,000', '包含0.3小時的訪談', '1.5小時的排列', '0.2小時的診斷', '半年期間', '預付3次', '享有95折優惠'],
      title15: '付款方式',
      content15: '戶名 : 創業家顧問股份有限公司。帳號 : 602540375855。中國信託銀行代號 : 822。分行別 : 大安分行',
      contact16: '聯絡我們',
      content16: '創業家顧問股份有限公司。地址 : 臺北市和平西路一段15之1號3樓。電郵 : master.builder.tw@gmail.com',
      name: '姓名',
      company: '公司',
      jobTitle: '職稱',
      tel: '手機',
      email: 'Email',
      subject: '主旨',
      msg: '訊息',
      howToKnow: '您如何得知我們',
      bywhat: ['請選擇', '透過行動條碼加入LINE好友', '透過親朋好友推薦','透過官方網站介紹','透過網路媒體'],
      submit: '立即聯絡'

    },
    en: {
      introduction1: 'About Us',
      content1: 'Master Builder Consulting provides 1.6 million Taiwanese and Chinese small and medium-sized enterprises with consulting services for organizational development such as digital transformation, intergenerational prosperity, and interdisciplinary innovation,  through performing arts and systemic constellations.',
      team2: 'Our Team',
      content2: 'Each of our team members has the three-in-one profession of industry consultant, executive coach, and constellator . Each of us has the dual certifications of the International Forum for System Constellations in Organizations (INFOSYON) and  Juridical Asian Association of Systemic Constellations in Organizations & in Business (JAASCOB).',
      publication3: 'Publication Resources',
      content3: 'Performing Arts Facilitation Coaching and Business Organizational Systemic Constellations is authored by Dr. Sheng-Tao Fan. It is the world’s first book discussing business organizational systemic constellations from the perspective of performing arts.',
      detail3: '(Please join our LINE official account, and you can immediately get the trial version for free）',
      alliance4: 'Strategic Alliance',
      content4: ['INFOSYON. JAASCOB', 'Wu-Nan Culture Enterprise', '原鼎管理顧問有限公司', '嵩諺國際企業有限公司,'],
      strength5: 'Systemic Constellations',
      content5: 'Business Organizational Systemic Constellations is a management consulting method. It can quickly, effectively, and deeply find out the root causes of business issues and propose winning strategies. It is originated in Germany and has been popular in Europe for more than 20 years. It is used by world-renowned companies such as BMW, Siemens, and Microsoft. It is introduced to Taiwan by JAASCOB in 2018. Master Builder Consulting Company Limited starts commercial application in 2023. We provide small & medium-sized business owners, entrepreneurs, and leaders with digital transformation, intergenerational prosperity, as well as interdisciplinary innovation. We provide mid-level managers & senior executives with leadership and organizational development consulting services.',
      benefit6: 'Digital Transformation',
      content6: 'Develop talent retention programs. Plan long-term strategies. Respond to customer pain points.',
      benefit7: 'Intergenerational Prosperity',
      content7: 'Family business. Equity allocation. International expansion.',
      benefit8: 'Interdisciplinary Innovation',
      content8: 'Cross-industry cooperation. Green sustainability. Ecosystem.',
      benefit9: 'Leadership and Organizational Development',
      content9: 'Balance work and family. Coordinate departmental conflicts. Improve team building.',
      plan: 'Service Plans',
      leader11: 'Mid Level Managers & Senior Executives',
      perHour: '/Hr',
      price11: 'NT$7,000',
      content11:['2 hours per session', 'NTD14,000 in total', 'Including 0.3 hours of interviews', '1.5 hours of constellations', '0.2 hours of diagnoses', 'During the half-year period', 'Prepay 3 sessions', 'Enjoy a 5% discount'],
      boss12: 'Business Owners',
      size12: 'The company size is less than 8 people',
      price12: 'NT$10,000',
      content12: ['2 hours per session', 'NTD20,000 in total', 'Including 0.3 hours of interviews', '1.5 hours of constellations', '0.2 hours of diagnoses', 'During the half-year period', 'Prepay 3 sessions', 'Enjoy a 5% discount'],
      boss13: 'Business Owners',
      size13: 'The company size is more than 7 to less than 31 people',
      price13: 'NT$15,000',
      content13: ['2 hours per session', 'NTD30,000 in total', 'Including 0.3 hours of interviews', '1.5 hours of constellations', '0.2 hours of diagnoses', 'During the half-year period', 'Prepay 3 sessions', 'Enjoy a 5% discount'],
      boss14: 'Business Owners',
      size14: 'The company size is more than 30 to less than 201 people',
      price14: 'NT$20,000',
      content14: ['2 hours per session', 'NTD40,000 in total', 'Including 0.3 hours of interviews', '1.5 hours of constellations', '0.2 hours of diagnoses', 'During the half-year period', 'Prepay 3 sessions', 'Enjoy a 5% discount'],
      title15: 'Payments',
      content15: 'Account Name : 創業家顧問股份有限公司. Account Number: 602540375855. CTBC Bank. Bank Code: 822. Branch: Daan Branch. After remitting, please add the official account LINE to confirm.',
      contact16: 'Contact Us',
      content16: 'Master Builder Consulting Company Limited. Address: 3F., No. 15-1, Sec. 1, Heping W. Rd., Zhongzheng Dist., Taipei City 100028 , Taiwan (R.O.C.). Email: master.builder.tw@gmail.com',
      name: 'Name',
      company: 'Company',
      jobTitle: 'Title',
      tel: 'Mobile',
      email: 'Email',
      subject: 'Subject',
      msg: 'Message',
      howToKnow: 'How do you know us',
      bywhat: ['Please choose', 'Through Line', 'Recommended by relatives or friends','Introduced through official website','Through online media'],
      submit: 'Send'
    }
  }
