block global
-
  const reviews = [
    {
      name: '葉維中',
      company: ['誠遠國際商務股份有限公司','聖誕老人網頁設計公司'],
      titles: ['執行長'],
      feedback: '創業家顧問 Master Builder Consulting 的企業教練群、系統排列師團隊，接地氣、有願景、能信賴，我溫馨推薦。'
    },
    {
      name: '鄧博文',
      company: ['偉門智威廣告公司'],
      titles: ['執行長'],
      feedback: '創業家顧問 Master Builder Consulting 的系統排列，能為公司的數位轉型與永續長青，提供明確的指引，我鄭重推薦給臺灣的中小企業主和外商公司領導人。'
    },
    {
      name: '楊琇惠',
      company: ['國立臺北科技大學'],
      titles: ['文化事業發展系教授', '教學創新者', '創新創業推動人'],
      feedback: '祝福創業家顧問 Master Builder Consulting，用角色扮演、情境模擬、系統排列的諮詢服務，打造臺灣的企業文化，造福全球的跨國公司，邁向數位轉型、世代共榮、跨域創新。'
    },
    {
      name: '施淳耀',
      company: ['五口創意有限公司'],
      titles: ['共同創辦人暨品牌創意總監'],
      feedback: '第一次接觸企業組織系統排列，我就發現這是量身訂作的、靈活敏捷的經營方式，很適合打造鮮明的品牌、同理客戶的需求，我竭誠推薦創業家顧問 Master Builder Consulting 的諮詢服務和企業培訓。'
    },
    {
      name: '林政宏',
      company: ['國立臺灣師範大學'],
      titles: ['電機工程學系教授兼研發處副研發長', 'AI跨域研究所副所長', '創新育成中心主任', '產業聯絡中心主任'],
      feedback: '感謝創業家顧問股份有限公司的系統排列，為企業組織的領導人，提供前瞻的、宏觀的、置高的經營視角與致勝策略。'
    },
    {
      name: '王婉珍',
      company: ['震旦集團'],
      titles: ['人資室資深經理'],
      feedback: '創業家顧問 Master Builder Consulting 的系統排列，能夠為華人世界的商業集團，打造兼容並蓄的企業文化，使各個事業體，形成具有生產力、共榮力、永續力的生態圈。'
    },
    {
      name: '林佳鋒',
      company: ['故事工場文創股份有限公司'],
      titles: ['創辦人暨執行長'],
      feedback: '日理萬機的頭家、老闆，渴望能夠化繁為簡、洞燭先機、致勝長青。而這一切，盡在「企業組織系統排列」。我暖心推薦，創業家顧問 Master Builder Consulting。'
    },
    {
      name: '郭雅雯',
      company: ['喜思整合行銷股份有限公司'],
      titles: ['合夥人暨副總經理'],
      feedback: '我看到、我聽到、我感受到系統排列，能為公司的合夥關係與共同經營，帶來信任、共好與多贏，我很樂意推薦創業家顧問 Master Builder Consulting 的優質服務。'
    },
    {
      name: '方進義',
      company: ['國立臺灣師範大學'],
      titles: ['運動休閒與餐旅管理研究所優聘教授', '進修推廣學院副院長'],
      feedback: '企業組織系統排列，能快速為新事業體，找到定位，並與利益關係人，和諧共好，我真心推薦創業家顧問 Master Builder Consulting 非常特殊、有效的諮詢服務。'
    },
    {
      name: '魏琬容',
      company: ['OISTAT 國際劇場組織'],
      titles: ['執行長', '舞評家'],
      feedback: '系統排列能在不到 2 小時的時間，有效地協助國際組織總部的 CEO、秘書長、領導人，制定跨文化、跨地區、跨國家的營運方針，並且以兼容並蓄的方式，維繫與全球會員的夥伴關係。我鄭重推薦創業家顧問 Master Builder Consulting 的諮詢服務。'
    },
    {
      name: '白適銘',
      company: ['國立臺灣師範大學'],
      titles: ['美術學系教授兼美術館主任'],
      feedback: '感謝創業家顧問 Master Builder Consulting 的「企業組織系統排列」管理技術，與我、師生、里民、商圈、政府，一起勾勒出文化共好，無「畫」不談的美術基地願景藍圖 !'
    },
    {
      name: '黃子容',
      company: ['喜思整合行銷股份有限公司'],
      titles: ['創辦人暨執行長'],
      feedback: '創業家顧問 Master Builder Consulting 是老闆值得信賴的高階教練，並肩共創企業耀昇的解決方案，迅速、有效，我衷心推薦！'
    },
    {
      name: '孫明恩',
      company: ['五口創意有限公司'],
      titles: ['共同創辦人暨營運長'],
      feedback: '親身感受到創業家顧問 Master Builder Consulting 的服務，能創造信任與價值，我很高興能推薦給臺灣中小企業的負責人、合夥人、領導人。系統排列是經營的永續之道。'
    },
    {
      name: '鍾宜玲',
      company: ['國立臺灣師範大學'],
      titles: ['研發處國際產學聯盟協理'],
      feedback: '初次接觸系統排列，沒想到短短的時間內，竟然能夠為個人或是企業主進行診斷，並提供非常 insightful 的建議，凝聚團隊共識。 創業家顧問 Master Builder Consulting 的系統排列，不僅能為企業主、董事長、執行長、總經理等高階主管，提供明确的顧問教練諮詢，還能為公司、學校、各種組織，量身訂作教育訓練方案，竭誠推薦 !'
    },
    {
      name: '陳建衡',
      company: ['寶藍澄國際有限公司'],
      titles: ['BCAG 創辦人暨設計總監', 'BCCT 創辦人', 'Border Comfy 舒適邊境創辦人'],
      feedback: '我體驗到系統排列，能夠幫助管理者抽離自身角度，用鳥瞰的視野，客觀地檢視課題與參與元素間的動態關係，更有機會發現隱藏的問題與解方。我很樂意推薦創業家顧問 Master Builder Consulting !'
    },
    {
      name: '汪耀華',
      company: ['國立臺灣師範大學'],
      titles:  ['科技應用與人力資源發展學系博士', '退休同仁聯誼會理事長', '資訊中心資安宣講師', 'Maginsight 魔術聊心室共同創辦人'],
      feedback: '創業家顧問以現象學強調的直觀，從個體經驗出發，創造聯結與共鳴，融合了藝術、教育、管理領域，以藝術切入，透過專家的引導，以情境式的排列，探究管理思惟，從過程中引導個體反思。應用在教育上，讓參與者涉獵跨領域的實務，多元體驗、拓展視野。這樣的規劃，是獨具創新的職訓課程，令人佩服！運用在業界，必能提供企業、組織的領導人，突破現狀、尋得新觀點，成就心中所想。'
    },
    {
      name: '徐建邦',
      company: ['東海冷凍股份有限公司'],
      titles:  ['執行長'],
      feedback: '創業家顧問 Master Builder Consulting 的角色模擬、系列排列，在很短的時間，便能從置高點，看見公司的格局、還有永續經營之道。很棒。我大力推薦。'
    }
  ]