block global
- const officialDomain = ''
-
  const seo = {
    demo: {
      title: 'Sitemap',
      desc: 'Sitemap'
    },
    layout: {
      title: 'title請套入資料',
      desc: 'description請套入資料'
    },
    zh:{
      index: {
        title: '結合表演藝術與系統排列讓你成就你想成就的 | 創業家顧問',
        desc: '藉由源於德國的系統排列以表演藝術型式，提供數位轉型、世代共榮、跨域創新、領導發展的諮詢服務，只要兩小時，就能為臺灣160萬中小企業。'
      }
    },
    en:{
      index: {
        title: 'Master Builder Consulting',
        desc: 'Master Builder Consulting provides 1.6 million Taiwanese small and medium-sized enterprises with digital transformation, intergenerational prosperity, interdisciplinary innovation, as well as leadership development through systemic constellations, only within 2 hours.'
      }
    }
  }
