block global
-
  const seo = {
    demo: {
      title: 'Sitemap',
      desc: 'Sitemap'
    },
    layout: {
      title: 'title請套入資料',
      desc: 'description請套入資料'
    },
    zh:{
      index: {
        title: 'SEO index',
        desc: 'SEO desc'
      },
      page: {
        title: 'SEO page',
        desc: 'SEO desc'
      },
      about: {
        title: 'SEO about',
        desc: 'SEO desc'
      }
    }
  }
